main {
    width: 100%;
    height: 100%;
}

#home-section-one {
    width: 100%;
    height: 35rem;
    margin: 5rem 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#map-section {
    padding: 0 0 0 0;
}

#map-header {
    font-size: 4rem;
    margin: 1rem 0;
}

#map-paragraph {
    font-size: 1.4rem;
    margin: 1rem 0;
}

#map-button {
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

#map-image {
    width: 35rem;
    height: 35rem;
}

#home-section-two {
    width: 100%;
    height: 50rem;
    margin: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#awareness-container {
    background-color: rgb(34, 170, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    font-size: 1.8rem;
}

#pages-hub {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5rem;
}

.pages-hub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 3.5rem;
    padding: 0 1rem;
}

.pages-hub-image {
    width: 23rem;
    height: 23rem;
    margin: 3rem 0 1rem 0;
    border-radius: 50px;
}

.pages-hub-header {
    font-size: 1.8rem;
    margin: 0;
}

.pages-hub-paragraph {
    text-align: center;
    width: 20rem;
    padding: 5px;
}

.pages-hub-button {
    border-radius: 8px;
    border: none;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    background-color: #f0f0f0;
    padding: 6px 15%;
    margin: 0 0 2rem 0;
}