html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cabin", "Viga", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0;
}

.site-logo {
    width: 6rem;
    margin: 0 10px;
}

.site-title {
    display: inline;
    font-size: 2.8rem;
    flex-grow: 1;
}

#language-selector {
    padding: 0.8rem 4rem 0.8rem 0.4rem;
    margin: 0 3rem 0 1rem;
    font-size: 1.1rem;
    border-radius: 4px;
}

#language-selector:focus {
    outline: none;
}

#search-button {
    background: url("/KAAGAP-CC100/Images/Icons/Search_Icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 1.8rem;
    height: 1.8rem;
    margin: 3px 0;
    cursor: pointer;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.initial-image {
    width: 100%;
    height: 30rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(47, 46, 45);
    color: white;
    padding: 2rem 0;
    margin-top: auto;
}

.footer-horizontal-slash {
    background-color: rgb(193, 203, 203);
    width: 75%;
    height: 1rem;
    border-radius: 100px;
}

#site-contacts {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0.8rem 0;
}

.site-socials {
    padding: 0 6% 0 1%;
}

.site-socials-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 2px;
    cursor: pointer;
}

#facebook-social {
    background-image: url("Images/Icons/Facebook-Icon.png");
}

#instagram-social {
    background-image: url("Images/Icons/Instagram-Icon.png");
}

#linkedin-social {
    background-image: url("Images/Icons/LinkedIn-Icon.png");
    background-size: 3rem;
}