:root {
    --backgroundGreen: #157F1F;
    --backgroundEmerald: #4CB963;
    --backgroundPrussianBlue: #1D263B;
    --backgroundBrightSnow: #F7F9F9;
    --textWhite: #ffffff;
    --textBlack: #000000;
    --textGreen: #157F1F;
    --buttonGreen: #4CB963;
    --buttonBlue: #5C6784;
    --buttonBrightSnow: #F7F9F9;
}

#about-initial-image {
    width: 100%;
    height: 30rem;
}

#about-initial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    box-shadow: 0 2px 10px 0 var(--backgroundPrussianBlue);
}

#about-section-one {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kaagap-info {
    padding: 0.5rem 5rem 1.2rem 5rem;
    margin: 10px 0;
}

.kaagap-info h2 {
    font-size: 2rem;
}

.kaagap-info p {
    font-size: 1.2rem;
}

.kaagap-info-stripes {
    background-color: rgb(76, 185, 99, 0.3);
    box-shadow: 0 2px 15px 0 rgb(76, 185, 99, 0.3);
}

#about-section-two {
    width: 100%;
    height: 55rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team-header-container {
    padding: 5px 4rem;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    background-color: var(--backgroundGreen);
    color: var(--textWhite);
    box-shadow: 0 0 10px 0 var(--backgroundEmerald);
}

#team-header-container h2 {
    font-size: 2rem;
    font-weight: 800;
}

#team-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 10px;
    padding: 1rem 20rem;
}

.team-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.2rem;
    margin: 0 3rem;
    border-radius: 10px;
}   

.team-profile-picture {
    width: 20rem;
    height: 20rem;
    margin: 1rem 2rem;
    border-radius: 100%;
}

#samson-picture {
    object-fit: cover;
    object-position: top;
}

#rosales-picture {
    object-fit: cover;
    object-position: 0 -9rem;
}

.team-profile-name, .team-profile-description, .team-profile-role {
    margin: 5px;
    padding: 5px;
    width: 20rem;
}

.team-profile-name {
    font-size: 1.8rem;
}

.team-profile-description {
    font-size: 1.1rem;
}

.team-profile-role {
    font-size: 1.2rem;
}

.team-profile-socials {
    width: 9rem;
    margin: 10px 0 0 0;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(227, 178, 60, 0.1);
}

.team-profile-socials-button {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

.team-profile-socials-button:hover {
    transform: translateY(1px) translateX(1px);
    transition: 0.2s ease-in;
}

.team-socials-facebook {
    background-image: url("/KAAGAP-CC100/Images/Icons/Facebook-Icon.png");
}
.team-socials-linkedin {
    background-image: url("/KAAGAP-CC100/Images/Icons/LinkedIn-Icon.png");
    background-size: 4rem;
}
.team-socials-github {
    background-image: url("/KAAGAP-CC100/Images/Icons/Github-Icon.png");
    background-size: 2.5rem;
}
