:root {
    --backgroundDarkGreen: #157F1F;
    --backgroundLightGreen: #4CB963;
    --backgroundJetBlack: #1D263B;
    --backgroundBrightSnow: #F7F9F9;
    --textWhite: #ffffff;
    --textBlack: #000000;
    --textGreen: #157F1F;
    --buttonGreen: #4CB963;
    --buttonCyan: #5C6784;
}

#community-section-one {
    width: 100%;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#community-significance {    
    margin: 5rem 5rem 2rem 5rem;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#community-significance h2, #community-significance p {
    text-align: center;
}

#community-significance h2 {
    font-size: 3rem;
    background-color: var(--backgroundLightGreen);
    color: var(--textWhite);
    margin: 0;
    padding: 1rem 3rem;
    box-shadow: 0 0 20px 0 var(--backgroundLightGreen);
}

#community-significance p {
    font-size: 1.2rem;
    width: 100%;
    max-width: 80rem;
    margin: 2rem 0 0 0;
    padding: 0;
}

#community-involvement-container {
    margin: 0;
    padding: 0;
}

#community-involvement-container h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin: 0;
}

.community-involvement-row {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.community-involvement-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    max-width: 20rem;
    background-color: var(--backgroundLightGreen);
    padding: 0 1rem 1rem 1rem;
    margin: 1rem;
    border-radius: 3rem;
    box-shadow: 0 0 10px 0 var(--backgroundLightGreen);
}

.community-involvement-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 0 var(--backgroundLightGreen);
    transition: 0.2s ease-out;
}

.community-content-number {
    background-color: var(--backgroundBrightSnow);
    padding: 1rem 1.5rem;
    border-radius: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

.community-content-paragraph {
    text-align: center;
    margin: 5px 1rem 5px 1rem;
    font-size: 1.2rem;
    color: var(--textWhite);
}

#community-encouragement {
    background-color: var(--backgroundBrightSnow);
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

#community-encouragement p {
    width: 100%;
    max-width: 75rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

#community-section-two {
    width: 100%;
    height: 65rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundDarkGreen);
    box-shadow: 0 0 10px 0 var(--backgroundJetBlack);
}

#community-highlights-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    color: var(--textWhite);
}

#community-highlights-description h2 {
    font-size: 3rem;
    margin: 1rem 0;
}

#community-highlights-description p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem;
}

#community-highlights-significance {
    color: var(--textWhite);
}

#community-highlights-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 80rem;
}

.community-highlights-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    height: 27rem;
    background-color: var(--backgroundBrightSnow);
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 0 8px 0 var(--backgroundBrightSnow);
}

.community-highlights-contents:hover {
    transform: scale(1.02);
    transition: 0.2s ease-out;
    box-shadow: 0 0 20px 0 var(--backgroundBrightSnow);
}

.community-highlights-contents img {
    width: 20rem;
    height: 20rem;
    background-color: --;
    object-fit: cover;
}

.community-highlights-contents p {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 5px 0;
}

#community-section-two p {
    font-size: 1.2rem;
    width: 100%;
    max-width: 80rem;
    text-align: center;
}

#community-section-three {
    width: 100%;
    height: 35rem;
    margin: 5rem 0;
    background-color: var(--textWhite);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.community-form-container {
    padding: 1rem;
    margin: 0 0 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background-color: var(--backgroundBrightSnow);
    border-radius: 10px;
    color: var(--textBlack);
    box-shadow: 0 0 10px 0 var(--backgroundJetBlack);
}

.community-form-container:hover {
    box-shadow: 0 0 30px 0 var(--backgroundLightGreen);
    transition: 0.2s ease-out;
}

#community-header {
    font-size: 4rem;
    margin: 0;
    padding: 1rem;
}

#community-header-title {
    color: var(--backgroundLightGreen);
}

#community-username, #community-email {
    display: flex;
    margin: 1rem;
    padding: 12px 12rem 12px 1rem;
    border: none;
    border-radius: 5px;
}

#community-submit {
    border: none;
    border-radius: 15px;
    margin: 0 1rem;
    background-color: var(--buttonCyan);
    color: var(--textWhite);
    font-weight: 600;
    padding: 12px 2rem;
    cursor: pointer;
}

#community-submit:hover {
    background-color: var(--buttonGreen);
    transition: 0.2s ease-out;
}

#community-submit:active {
    background-color: var(--backgroundDarkGreen);
}

.community-shape-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#square {
    width: 25rem;
    height: 25rem;
    background-color: rgb(135, 229, 155);
    border-radius: 10px;
    transform: rotate(45deg) translateX(180px) translateY(-180px);
}

#circle {
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    background-color: var(--backgroundDarkGreen);
}

