#community-section-one {
    width: 100%;
    height: 35rem;
    margin: 5rem 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.community-form-container {
    padding: 1rem;
    margin: 0 0 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background-color: #f3f3f3;
    border-radius: 10px;
}

#community-header {
    font-size: 4rem;
    margin: 0;
    padding: 1rem;
}

#community-username, #community-email {
    display: flex;
    margin: 1rem;
    padding: 12px 12rem 12px 1rem;
    border: none;
    border-radius: 5px;
    color: #000000;
}

#community-username::placeholder, #community-email::placeholder {
    color: #000000;
}

#community-submit {
    border: none;
    border-radius: 15px;
    margin: 0 1rem;
    background-color: rgb(120, 120, 120);
    color: #f2f2f2;
    font-weight: 600;
    padding: 12px 2rem;
    cursor: pointer;
}

.community-shape-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#square {
    width: 25rem;
    height: 25rem;
    background-color: #e1e3e3;
    border-radius: 10px;
    transform: rotate(45deg) translateX(180px) translateY(-180px);
}

#circle {
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    background-color: rgb(175, 175, 171);
}

