main {
    width: 100%;
    height: 100%;
}

#home-section-one {
    width: 100%;
    height: 50rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greet-section {
    text-align: center;
}

#greet-header {
    font-size: 6rem;
    padding: 5px 0;
    margin: 1rem 0 0 0;
}

#greet-site-title {
    color: #157F1F;
}

#greet-subheader {
    font-size: 2rem;
    font-weight: 600;
    padding: 5px 0;
    margin: 0;
}

#greet-paragraph {
    font-size: 1.4rem;
    margin: 4rem 2rem 1rem 2rem;
    width: 80rem;
}

#home-section-two {
    width: 100%;
    height: 50rem;
    margin: 0;
    background-color: #F7F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#about-image-section {
    width: 100%;
    max-width: 50rem;
    height: 40rem;
    margin: 1rem 2rem 1rem 5rem;
}

#about-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 45rem;
    margin: 0 5rem 0 1rem;
    text-align: center;
}

#about-us-section h2 {
    font-size: 3.5rem;
    margin: 5px 0;
}

#about-us-section p {
    font-size: 1.5rem;
}

#about-us-section a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    background-color: #5C6784;
    padding: 10px;
    width: 100%;
    color: #ffffff;
    border-radius: 5px;
}

#home-section-three {
    width: auto;
    margin: 0;
}

#home-section-four {
    width: 100%;
    height: 35rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#map-section {
    padding: 0 0 0 0;
}

#map-header {
    font-size: 4rem;
    margin: 1rem 0 1rem 3rem;
}

#map-paragraph {
    font-size: 1.4rem;
    margin: 1rem 0 1rem 3rem;
}

#map-button {
    padding: 10px 40px;
    margin: 1rem 0 1rem 3rem;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #4CB963;
    color: #ffffff;
}

#map-image {
    width: 35rem;
    height: 35rem;
    margin: 0 0 0 10rem;
}

#home-section-five {
    width: 100%;
    height: 50rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#awareness-container {
    background-color: #2B303A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    font-size: 1.8rem;
    color: #ffffff;
}

#pages-hub {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5rem;
}

.pages-hub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3.5rem;
    padding: 0 2rem;
    border-radius: 5px;
    background-color: #4CB963;
}

.pages-hub-image {
    width: 25rem;
    height: 25rem;
    margin: 3rem 0 1rem 0;
    border-radius: 10px;
    object-fit: cover;
}

.pages-hub-header {
    font-size: 1.8rem;
    margin: 0;
}

.pages-hub-paragraph {
    text-align: center;
    width: 30rem;
    padding: 5px;
}

.pages-hub-button {
    border-radius: 5px;
    border: none;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    background-color: #F7F9F9;
    padding: 6px 15%;
    margin: 0 0 2rem 0;
}

#home-section-six {
    width: 100%;
    height: 30rem;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story-label {
    width: 100%;
    max-width: 30rem;
    height: 25rem;
    margin: 0 1rem;
}

#story-label h3 {
    font-size: 2rem;
    padding: 0 1rem;
}

#story-label p {
    font-size: 1.2rem;
    padding: 0 1rem;
}

#story-video {
    width: 100%;
    max-width: 50rem;
    height: 25rem;
    margin: 0 1rem;
    background-color: aliceblue;
}

#home-section-seven {
    width: 100%;
    height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter-label {
    margin: 3rem 0;
}

#newsletter-label h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-decoration: underline;
}

#newsletter-label p {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 188, 184);
    padding: 2rem;
    margin: 0 0 3rem 0;
    width: 100%;
    max-width: 40rem;
}

#newsletter-form label {
    margin: 10px 0 0 0;
    padding: 5px;
    font-weight: 600;
}

#newsletter-full-name {
    display: flex;
    gap: 1rem;
}

#newsletter-full-name input {
    width: 100%;
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#newsletter-email-address {
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

#newsletter-sign-up {
    margin: 20px 4px;
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}