:root {
    --backgroundDarkGreen: #157F1F;
    --backgroundLightGreen: #4CB963;
    --backgroundJetBlack: #1D263B;
    --backgroundBrightSnow: #F7F9F9;
    --textWhite: #ffffff;
    --textBlack: #000000;
    --textGreen: #157F1F;
    --buttonGreen: #4CB963;
    --buttonCyan: #5C6784;
}

.initial-image {
    width: 100%;
    height: 30rem;
}

.initial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

#disaster-information-head h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 1rem 0;
}

#disaster-information-head p {
    font-size: 1.1rem;
    margin: 0;
    padding: 1rem 0;
}

.info-section-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-navigation-container {
    margin: 3rem 1rem 1rem 2rem;
    padding: 1rem 1rem;
    width: 30rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.info-navigation-container h2, .info-navigation-container a {
    padding: 10px 10px;
}

.info-navigation-container h2 {
    font-size: 1.1rem;
    background-color: var(--backgroundLightGreen);
    color: var(--textWhite);
    margin: 0;
}

.info-navigation-container a {
    text-decoration: none;
    background-color: var(--backgroundBrightSnow);
    color: #000000;
}

.info-content-container {
    padding: 0 3rem 2rem 1rem;
    margin: 1rem 1rem 1rem 2rem;
    width: 100rem;
    text-align: justify;
}

.info-content-container h2, .info-content-container p, .info-content-container img {
    width: 100%;
}

.info-content-container h2 {
    font-size: 2.5rem;
    padding: 0 1rem;
}

.info-content-container p {
    font-size: 1.2rem;
    padding: 0 1rem 0.5rem 1rem;   
}

.info-content-container img {
    padding: 0 1rem;
}

.info-content-container li {
    font-size: 1.1rem;
    padding: 5px 1rem;
}

.info-sources-link {
    color:var(--backgroundLightGreen);
}