html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cabin", "Viga", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0;
}

.site-logo {
    width: 6rem;
    margin: 0 10px;
}

.site-title {
    display: inline;
    font-size: 2.8rem;
    flex-grow: 1;
}

#language-selector {
    padding: 0.8rem 4rem 0.8rem 0.4rem;
    margin: 0 3rem 0 1rem;
    font-size: 1.1rem;
    border-radius: 4px;
}

#language-selector:focus {
    outline: none;
}

#search-button {
    background: url("/KAAGAP-CC100/Images/Icons/Search_Icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 1.8rem;
    height: 1.8rem;
    margin: 3px 0;
    cursor: pointer;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

footer {
    background-color: #C8CDCA;
    color: white;
    padding: 2rem 0 0 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-horizontal-slash {
    background-color: #f4f4f4;
    width: 65rem;
    height: 1rem;
    margin: 1rem 0;
    border-radius: 100px;
}

#site-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    margin: 0;
}

#site-contacts a {
    margin: 0 0 0 2rem;
}

.site-socials {
    padding: 0 6% 0 1%;
}

.site-socials-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 2px;
    cursor: pointer;
}

#site-follow-us {
    font-size: 1.1rem;
}

#facebook-social {
    background-image: url("/KAAGAP-CC100/Images/Icons/Facebook-Icon.png");
}

#instagram-social {
    background-image: url("/KAAGAP-CC100/Images/Icons/Instagram-Icon.png");
}

#linkedin-social {
    background-image: url("/KAAGAP-CC100/Images/Icons/LinkedIn-Icon.png");
    background-size: 3rem;
}

#footer-container-two {
    width: 80rem;
}

#site-description, #site-map {
    margin: 0 0 0 2rem;
}

#site-description {
    padding: 8px 1rem;
}

#site-map {
    display: flex;
    gap: 7rem;
    padding: 1rem 1rem 3rem 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-header-nav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.footer-page-nav {
    text-decoration: none;
    color: #efefef;
}

#kaagap-copyright {
    padding: 1rem;
    font-size: 12px;
    text-align: center;
}